body {
  background-image:url("https://www.istockphoto.com/de/foto/schöne-schweizer-berge-im-frühling-gm1131616912-299697951?irgwc=1&esource=AFF_IS_IR_SP_FreeImages_246195_&asid=FreeImages&cid=IS&utm_medium=affiliate_SP&utm_source=FreeImages&clickid=zbFzWsR2ExyLTjL0M-0V7wD0UkEXCI1dEUUZ0c0&utm_term=1362605&utm_content=270499&asset_type_keyword=_");

}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-image: url({{ url_for('static', filename='profile_pics/gettfitt.jpg') }});
}


.site-header .navbar-nav .nav-link {
  color: #556B2F;
}

.site-header .navbar-nav .nav-link:hover {
  color: #556B2F;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 50%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.custom-map-control-button {
  appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.custom-map-control-button:hover {
  background: #ebebeb;
}








.fa-facebook{
  background: #3B5998;
    color: black;
}

.fa-twitter {
  background: #55ACEE;
  color: black;
}
.fa-instagram {
  background: #125688;
  color: black;
}



.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
